@font-face {
     font-family: 'Coolvetica-Rg-Regular';
     src: url('../../font/coolvetica_rg.otf') format('truetype');
   }
.header{
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.header-title{
     display: flex;
     justify-content: center;
     align-items: center;
     
     font-family: 'Europa';
     color: #FFFFFF;
}

.header-subtitle h2{
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 5rem;
     font-family: 'Coolvetica-Rg-Regular';
     font-size: 3rem;
     font-weight: 400;
     color: #FFFFFF
}

.header-title {
     display: flex;
     justify-content: center;
     align-items: center;
     font: normal;
     font-size: 4rem;
     font-family: 'Coolvetica-Rg-Regular';
     color: #FFFFFF;
}
