.header{
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.header-title{
     display: flex;
     justify-content: center;
     align-items: center;
     
     font-family: 'Europa';
     color: #FFFFFF;
}

.header-subtitle h2{
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 5rem;
     font-family: 'Roboto';
     font-size: 50px;
     font-weight: 400;
     color: #FFFFFF
}

.header-title h1{
     font-family: 'Coolvetica';
     font-style: normal;
     font-weight: 500;
     font-size: 150px;
     text-align: center;
     color: #FFFFFF;
}