.footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color:#3A0CA3;
     padding: 3rem 5rem;
}

.footer-info{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-weight: 700;
     font-family: Roboto;
     gap: 1rem;
}

.footer-info-stamp{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: space-between;
     gap: 1rem;
}

.footer-info-stamp-logo{
     padding: 1rem;
     width: 40%;
}

.footer-info-subtext{
     font-size: 0.75rem;
     line-height: 1rem;
     color: #fff;

}


.footer-info-links h2{
     font-size: 1.25rem;
     line-height: 2rem;
     color: #fff;
}

.nav-link{
     font-size: 0.75rem;
     line-height: 1.1rem;
     color: #fff;
}

.footer-info ul {
     list-style: none;
}